* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#costumerLoginPage{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    margin-top: 8rem;
}

.title-DB {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-DB h1 {
    color: #2B0AE4;
    font-family: "Schibsted Grotesk", serif;
    font-style: normal;
    font-size: 8rem;
    font-weight: 900;
    line-height: 121px;
    letter-spacing: -2px;
}
.title-DB span {
    display: flex;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: -1px;
}

#loginForm {
    display: flex;
    width: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    margin-top: 3rem;
}

.top-buttons {
    display: flex;
    gap: 0.5rem;
}

.top-buttons button {
    border: 2px solid #2B0AE4;
    background: none;
    padding: 10px 16px;
    font-size: 1rem;
    cursor: pointer;
    color: #2B0AE4;
    font-weight: 600; /* Semibold */
    font-family: 'Rethink Sans', sans-serif;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 2px solid #2B0AE4;
    font-size: 1rem;
    color: #2B0AE4;
    font-weight: 400; /* Regular */
    font-family: 'Rethink Sans', sans-serif;
}

.bottom-button {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.bottom-button .login {
    border: 2px solid #2B0AE4;
    background: none;
    padding: 10px 78px;
    font-size: 1rem;
    cursor: pointer;
    color: #2B0AE4;
    font-weight: 600; /* Semibold */
    font-family: 'Rethink Sans', sans-serif;
}

.bottom-button .register {
    background: none!important;
    border: none;
    padding: 0!important;
    background: none;
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
    color: #2B0AE4;
    font-weight: 600; /* Semibold */
    font-family: 'Rethink Sans', sans-serif;
}

.active {
    background-color: #2B0AE4;
    color: white;
}

.inactive {
    background-color: #CBC2FF;
    color: #2B0AE4;
}
