

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
}


/* ----- HEADER STYLING ----- */
#adminProductPage {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

/* -- Titeln -- */
.title-DB-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 22px;
    position: relative;
    margin-top: 40px;
}

.title-DB-container h1 {
    display: flex;
    align-items: center;

    font-size: 4rem;
    font-weight: 900;
    color: #2B0AE4;
}

.title-DB-container span {
    font-size: 2.5rem;
    margin-left: 10px;
    margin-top: 14px;
    font-weight: 700;
    color: #2B0AE4;
}

/* -- Logout-knapp och cart -- */
.top-button-logout {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: center;
    margin-bottom: 20px;
}

.logout {
    padding: 10px 30px;
    border: 2px solid #2B0AE4;
    margin-bottom: 10px;
    background: none;
    font-weight: 600;
    color: #2B0AE4;
    cursor: pointer;
    font-size: 1rem;
}

.cart-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #2B0AE4;
    margin-left: 6px;
}

.cart {
    font-weight: bold;
    margin-right: 5px;
    font-size: 1.5rem;
}

.items-in-cart {
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 3px;
}

/* ----- SEARCH FORM ----- */
#placeItemsForm {
    width: 100%;
    display: flex;

    padding-bottom: 10px;
    margin-bottom: 20px;
}

.input-item-field {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 5px;
}

/* -- Justera toppsektionen -- */
.input-top {
    display: flex;
    gap: 5px;
    width: 100%;
}

#product-number {
    width: 20%;
    padding: 10px;
    border: 2px solid #2B0AE4;
    font-size: 1rem;
    color: #2B0AE4;
}

#title {
    width: 60%;
    padding: 10px;
    border: 2px solid #2B0AE4;
    font-size: 1rem;
    color: #2B0AE4;
}

.search-btn {
    width: 15%;
    padding: 10px;
    border: 2px solid #2B0AE4;
    background: none;
    color: #2B0AE4;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

/* -- Justera bottensektionen -- */
.input-bottom {
    display: flex;
    gap: 5px;
    width: 80.5%;
}

#price-min {
    width: 22.5%;
    padding: 8px;
    border: 2px solid #2B0AE4;
    font-size: 1rem;
    color: #2B0AE4;
}

/* -- Mellanrumsstreck mellan Price Min & Max -- */
.line-between-price {
    font-size: 1.2rem;
    color: #2B0AE4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;  /* 3% */
}

#price-max {
    width: 22%;
    padding: 10px;
    border: 2px solid #2B0AE4;
    font-size: 1rem;
    color: #2B0AE4;
}

#supplier {
    width: 60%;
    padding: 10px;
    border: 2px solid #2B0AE4;
    font-size: 1rem;
    color: #2B0AE4;
}

/* ----- PRODUKTSEKTION ----- */
#item-container-costumer {
    width: 100%;
}

.product-list-header-admin {
    display: flex;
    font-weight: bold;
    margin-bottom: 3px;
    /*padding: 0 8px 0 10px;*/
    gap: 5px;
    width: 87.5%;
    color: #2B0AE4;
}

.product-col-top {
    flex: 1;
    text-align: center;
    border: 2px solid #2B0AE4;
    background-color: #CBC2FF;
    padding: 10px;
    color: #2B0AE4;
}

.product-list-container {
    height: 360px;
    width: 100%;
    overflow-y: scroll;
}

.product-col {
    flex: 1;
    text-align: center;
    border: 2px solid #2B0AE4;
    padding: 10px;
    color: #2B0AE4;
}

/* -- Produktlistan -- */
.product-item {
    display: flex;
    padding: 3px 0 3px 0;
    align-items: center;
    gap: 5px;
}

.product-actions {
    display: flex;
    gap: 3px;
}

.product-actions button {
    border: 2px solid #2B0AE4;
    background: none;
    color: #2B0AE4;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600; /* Semibold */
    font-family: 'Rethink Sans', sans-serif;
}

span.quantity {
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #2B0AE4;
    font-weight: 600; /* Semibold */
    font-family: 'Rethink Sans', sans-serif;
    padding: 8px;
    color: #2B0AE4;
}

/*
.quantity {
    min-width: 44px;
    min-height: 44px;
    text-align: center;
    font-size: 1rem;
    border: 2px solid #2B0AE4;
    font-weight: 600; /* Semibold
    font-family: 'Rethink Sans', sans-serif;
    color: #2B0AE4;
}
*/